<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Hola Mundo </h1>
    <p>Rosemar Torres</p>
    <p>C.I: 30961767</p>
    <p>sección 4</p>
  </body>
</html>
