<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="joyeria,accesorios">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header>
        <h1><span class="letras">RT  </span>Joyería</h1>
        <nav>
            <ul>
                <li><a href="/login">admin</a></li>

            </ul>
        </nav>
      
    </header>
    <div class="margen-header"></div>
    <main>
        <section class="intro" >
            <h1>Joyería elegante</h1>
        </section>
        <section id="caballeros">
            <h1>Caballeros</h1>
            <div class="contenedor">
                <img src="/img/imagenH.jpg" >
                <p>Elegante, exclusivo, moderno. Encuentra tus accesorios para tus ocasiones especiales</p>
            </div>
        </section>
        <section id="Damas">
            <h1>Damas</h1>
            <div class="contenedor">
                <img src="/img/imagenJ.jpg" >
                <p>Elegante, exclusivo, moderno. Encuentra tus accesorios para tus ocasiones especiales</p>
            </div>
            
    </main>
</body>
<footer> Rosemar Torres C.I.:30.961.767 seccion 4 </footer>
</html>