<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/iniciosesion.css" rel="stylesheet" />
    <title>Inicio Sesión</title>
   
  <meta name="description" content="<%= og.description %>">
  <meta property="og:title" content="<%= og.title %>">
  <meta property="og:description" content="<%= og.description %>">
  <meta property="og:image" content="<%= og.image %>">
   <!--Schema Markup-->
 <script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Article",
		"headline": "Joyería",
		"datePublished": "2024-02-3",
		"author": {
		  "@type":"Person",
		  "name": "Rosemar Torres"
		},
		"publisher":{
		  "@type": "Organization",
		  "name": "Joyería La ELegancia",
		  "logo": {
			"@type": "ImageObject",
			"url": "https://cdn-icons-png.flaticon.com/512/7945/7945044.png" 
		  }
		},
		"image": {
		  "@type": "ImageObject",
		  "url": "https://i0.wp.com/blog.retif.es/wp-content/uploads/cuerda.jpg",
		  "width": "800",
		  "height": "600"
		},
		"description": "Joyas y accesorios de la mejor calidad"
	  }
  </script>
  <script type="text/javascript" src="/javaScript/alert.js"></script>
  
</head>

<body>
    
    
    
    
   
    <form action="/loginUsers" method="post" class="form">
        <h2 class="form_tittle">Inicia Sesión</h2>
            <p class="form_paragraph">Aun no tienes una cuenta? <a href="/registroUsers" class="form_link">Entra aquí</a></p>

            <div class="form_container">
                <div class="form_group">
                    <input type="email" name="email" id="email" class="form_input" placeholder=" " required>
                    <label for="email" class="form_label">Correo Electrónico</label>
                    <span class="form_line"></span>
                </div>
            </div>
           
            <div class="form_container">
                <div class="form_group">
                    <input type="password" name="password" id="password" class="form_input" placeholder=" " required>
                    <label for="password" class="form_label">Contraseña</label>
                    <span class="form_line"></span>
                </div>
                <input type="submit" class="form_submit"  value="Iniciar" id='enviar'>
            </div>
            <p>¿Haz olvidado tu contraseña?</p><a href="/recuperarPassword">Haz click aqui</a>
 
 <p><a href="/"><img style='width:15%;display: flex; left: -10px;padding-top: 1.4rem;'  src="/img/cerrar-sesion.png" id='add'></a></p> 

</form>

<script type="text/javascript">
	fetch('/mensageDeRegistro')
	.then(res=> res.json())
	.then(respuesta=>{
		if(respuesta.mensaje == false){
			console.log('No se recibio nada de la ruta "mensajeDeRegistro" ');
		}else{
			  console.log('--_--_--'+respuesta.mensaje+'--_--_--');
			  Swal.fire('¡Se ha Registrado Exitosamente!')
			  .then(()=>{
			  	 fetch('/eliminarMensajeRegistro')
			  	 .then(res=>res.json())
			  	 .then(respuesta2=>{
			  	 	if(respuesta2.mensaje === false){
			  	 		console.log('mensaje inexistente');
			  	 	}			  
			  	 })
			  })
		}
	})
</script>


</body>
</html>