*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

body{
background-image:url('/img/fondo2.jpg');
background-size:cover;
background-attachment:fixed;
}
.lg{
	width: 60%;
	
}
.table-desktop{
	margin:20px auto;
	width: 80%;
	border-collapse: collapse;
	background-color: #909090;

}
.table-desktop tr th{
	background-color: #fff;
	color: #303030;
	padding: 5px;
	border: 1px solid #040101;
	text-align: left;
}

.table-desktop tr td{
	border: 1px solid #050000;
	padding: 5px;
}
.table-desktop tr:nth-of-type(odd){
	background-color: #e6e6e6;
}

/* tabla movil*/

.table-mobile{
	display: none;
	width: 100%;
}

.table-mobile .fila .columna{
	display: flex;

}

.table-mobile .fila .columna .header,.table-mobile .fila .columna .header .contenido{
	border: 1px solid #e6e6e6;
	border-bottom: none;
	padding: 10px;
}
.table-mobile .fila .columna .header{
	width: 40%;
	background-color: #303030;
	font-weight: bold;
	color: white;
}
.table-mobile .fila .columna .header .contenido{
	width: 60%;
}

.table-mobile .fila:nth-of-type(even) .columna .contenido{
	background-color: #e6e6e6;
}

.table-mobile .fila .columna:last-of-type .contenido,.table-mobile .fila .columna:last-of-type .header{
	border-bottom: 1px solid #909090;
}
@media screen and (max-width:600px) {
	.table-mobile{
		display: block;
	}

	.table-desktop{
		display: none;
	}
}


/*--------------------------------------------*/
.table{
margin:20px auto;
width:80%;
border-collapse: collapse;
background:rgba(255, 255, 255, 0.8);
border-radius: 10px;
}
table{
 color:rgb(8, 0, 0);
 width:80%;
 
}
h1{
	color:white;
	text-align:center;
	margin-top:50px;
}
td{
	text-align:center;
}
#botonProductos{
	background:rgb(229, 229, 229);
	color:black;
	text-decoration: none;
	padding:6px;
	margin:20px;
}
#add{
 height:5vh;
}

.button-container{
	display: inline-block;
}

.button {
	padding: 10px 20px;
	background-color: #3498db;
	color: #fff;
	border: none;

	border-radius: 5px;
	margin-right: 20px;
	cursor: pointer;
}
.button.delete{
	background-color: #e74c3c;
}

@media screen and (max-width:760px) {
 .lol{
	width: 100%;
}
}


/*header h1{
    color: white;
    font-size: 50px;

}
.letras{
    color: black;
}
	header{
		width: 100%;
		height: 100px;
		background-color:rgb(150, 32, 32);
		border-bottom: dashed 0px rgb(0,0,0);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		border-bottom: solid 5px rgb(0, 12, 15);
		font-family: 'Times New Roman';
	
		box-shadow: 7px 14px 16px rgb(75, 75,75, 0.747 );
	
	}
	nav{
		overflow: hidden;
	}
	nav ul {
		width:  100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	  }
	  
	  nav ul li {
		list-style: none;
	  }
	  
	  nav ul li a {
		padding: 10px 20px;
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 14px;
		font-family: "Montserrat";
	  }
	  nav ul li a:hover {
		border-bottom:solid 1.5px white;
	  }
	  @media screen and (max-width: 600px) {
		nav a {
		  float: none;
		  display: block;
		  width: 100%;
		  text-align: left;
		}
	}*/



	nav {
		background-color:rgb(150, 32, 32);
		overflow: hidden;
	  }
  
	  nav a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	  }
  
	  @media screen and (max-width: 600px) {
		nav a {
		  float: none;
		  display: block;
		  width: 100%;
		  text-align: left;
		}
	  }
	  header{
		width: 100%;
		height: 100px;
		background-color:rgb(150, 32, 32);
		border-bottom: dashed 0px rgb(0,0,0);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		border-bottom: solid 5px rgb(0, 12, 15);
		font-family: 'Times New Roman';
	
		box-shadow: 7px 14px 16px rgb(75, 75,75, 0.747 );
	
	}
	nav ul {
		width:  100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	  }
	  nav ul li {
		list-style: none;
	  }
	  
	 