
*{
margin:0;
padding:0;
box-sizing:border-box;
}
h1{
	color:white;
	text-align:center;
	margin-top:50px;
	font-family: ru;
}
body{
	background-image:url('/img/fondo2.jpg');
	background-size:cover;
    background-attachment:fixed;
	width:100%;
	height:100vh;
}
#footer{
	text-align: center;
	color:white;
}

section{
    background:rgba(0,0,0,.7);
	display:flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items:flex-start;
	width:90%;
	height:100%;
	margin:50px auto;
	font-size:25px;
	margin:10px;
	border:2px solid black;
	color:white;


}
.img{
	width:30%;
	height:30%;
	margin:20px;
	border-radius:50%;
}
h2{
	margin-left:20px;
	font-size: 40px;
}
#ContenedorImgNombre{
	display:flex;
	justify-content:flex-start;
	align-items:center;
}
p{
	margin:20px;
}
aside{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border:2px solid;
	width:30%;
	margin:10px;
	background:rgba(240, 242, 245);
}
#contenedorP{
	display:flex;
	align-items:center;
	margin:50px;
	margin-bottom:0px;
	font-weight:bold;
	border-radius: 10px;
}
.imgg{
	margin:0;
	background-size:cover;
	width:100%;
	height:50%;
}

h1{
	border:1px solid black;
	color: black;
	background:rgba(255, 255, 255, 0.8);
}

.flex-principal{
	display:flex;
	flex-direction:column;
	height:75%;
	justify-content:center;
	align-items:center;
	color:rgb(12, 0, 0);
	background:rgba(255, 255, 255, 0.8);
	
}

input{
	height:5vh;
	text-align:center;

}
#cancelar{
	margin-top:20px;
	height:10%;
}
#editorcentrall{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
}
#botonProductos{
	background-color:gray;
	text-decoration: none;
	padding:6px;
	padding: 10px 20px;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin-right: 20px;
	cursor: pointer;
}
label{
	font-weight:bold;
	font-size:25px;
}
#update{
	cursor: pointer;
	padding: 10px 20px;
	background-color: #3498db;
	color: #fff;
	border: none;

	border-radius: 5px;
	margin-right: 20px;
	
}
#eliminarRegistro{
	cursor:pointer;
	padding: 10px 20px;
	background-color: #db3434;
	color: #000000;
	border: none;

	border-radius: 5px;
	margin-right: 20px;
	cursor: pointer;
}